<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     <ion-title><div style="margin-right:20%;">About</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div style="font-size: large; font-weight: 600;">Hello !</div>

<div style="margin-top: 5%;">Welcome to Moozic, an app that will allow you to discover music using yours or your friend's facial emotions! This application has been developed by me (Konrad Gaca) for educational purposes.</div>
<div style="margin-top: 5%;">Enjoy and Thank You for using this app.</div>

<div style="margin-top: 5%;"><div style="font-weight: bold;">DISCLAIMER:</div> Moozic does not store any of the pictures you take. (You can make those silly faces without worries!)</div>
<img src="img/feedback6.png" style="width: 25%;margin-top: 5%;margin-left: 35%;">
</ion-content>
