<!--
  Generated template for the Account page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><div style="margin-right:20%;">Account</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<button ion-button block (click)="showPrompt()">Change Password</button>

<button ion-button color="danger" block (click)="showConfirm()">Remove Account</button>

</ion-content>
