<!--
  Generated template for the Registration page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><div style="margin-right:20%;">Sign Up</div></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


<img src="img/LOGOwhite.png" alt="" class="logoHome">


<div style="display:flex; margin-top:5%">
<ion-icon name="ios-contact-outline" class="iconLogin"></ion-icon>
 <div class="inputLogin">

<div class="loginText">
EMAIL
</div>

<input type="text" [(ngModel)]="email" class="placeholderLogin" placeholder="Enter email"/>  

</div>
</div>

<div style="display:flex; margin-left:2.5%;">
<ion-icon name="ios-lock-outline" class="iconPassword"></ion-icon>

 <div class="inputPassword">

<div class="loginText">
PASSWORD
</div>

<input type="password" class="placeholderLogin" [(ngModel)]="password" placeholder="Enter password"/>  

</div>
</div>

<div style="display:flex; margin-left:1.0%;">
<ion-icon name="ios-calendar-outline" class="iconDOB"></ion-icon>

 <div class="inputPassword">

<div class="loginText" style="width:100%;">
YEAR OF BIRTH
</div>

<ion-item>
  <ion-datetime displayFormat="YYYY" [(ngModel)]="dateOfBirth" placeholder="Enter year"></ion-datetime>
</ion-item>

</div>
</div>

<button ion-button round [color]="'pink'" (click)="goToRegistration2();">Continue</button>

</ion-content>
