page-registration {

}

.item-ios{
margin-left:-5%;
color:white;
width: 130%; 
border-color: transparent;
font-family: Gravity-UltraLight;
font-size: 15px;
background: transparent;
}

.item-md{
margin-left:-5%;
color:white;
width: 130%; 
border-color: transparent;
font-family: Gravity-UltraLight;
font-size: 15px;
background: transparent;
}

.item-wp{
margin-left:-5%;
color:white;
width: 130%; 
border-color: transparent;
font-family: Gravity-UltraLight;
font-size: 15px;
background: transparent;
}
