<ion-header>
  <ion-navbar >
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<img src="img/LOGOwhite.png" alt="" class="logoHome">


<div style="display:flex; margin-top:15%">
<ion-icon name="ios-contact-outline" class="iconLogin"></ion-icon>
 <div class="inputLogin">

<div class="loginText">
EMAIL
</div>

<input type="text" [(ngModel)]="email" class="placeholderLogin" placeholder="Enter email"/>  

</div>
</div>

<div style="display:flex; margin-left:2.5%;">
<ion-icon name="ios-lock-outline" class="iconPassword"></ion-icon>

 <div class="inputPassword">

<div class="loginText">
PASSWORD
</div>

<input type="password" [(ngModel)]="password" class="placeholderLogin" placeholder="Enter password"/>  

</div>
</div>


<button ion-button round [color]="'pink'" (click)="login()">Sign In</button>

<div class="forgotPassword">
Forgot a password? <button ion-button [color]="'transparent'">RESET</button>
</div>

<div class="noAccount">
Don't have an account? <button ion-button [color]="'transparent'" (click)="goToRegistration();">SIGN UP</button>
</div>

</ion-content>
