page-home {

}

.logoHome{
display: flex;
margin-top:5%;
  margin-left:10%;
 width: 80%;
   max-width: 2200px;
  height: auto ;
  
}

.headerColor{
background-color:blue!important;
}

.iconLogin
{
	font-size:40px;
	margin-top:8%;
	margin-left: 2%;
	
}

.iconPassword
{
margin-top:8%;
margin-left: 0.5%;
font-size:40px;
}

.iconDOB
{
margin-top:8%;
margin-left: 1.3%;
font-size:40px;
}

.inputLogin
{
	display:inline-block;
    padding: 20px;
}

.inputPassword
{
margin-left: 2%;
display:inline-block;
    padding: 20px;
}

.placeholderLogin
{
margin-left:8%;
margin-top:10%;
}

input
{ 
width: 130%; 
border-color: transparent;
border-bottom: 1px solid darkgrey; 
font-family: Gravity-UltraLight;
font-size: 15px;
background: transparent;
}

input:focus
{ 
outline: none;
}

input::-webkit-input-placeholder 
{ 
font-family: Gravity-UltraLight;
font-size: 15px;
color: white!important; 
}

input:-moz-placeholder { 
/* Firefox 18- */
font-family: Gravity-UltraLight;
font-size: 15px; 
color: white!important; 
}

input::-moz-placeholder { 
/* Firefox 19+ */
font-family: Gravity-UltraLight;
font-size: 15px; 
color: white!important; 
}

input:-ms-input-placeholder {
font-family: Gravity-UltraLight;
font-size: 15px; 
color: white!important; 
}

.content-md
{
font-size: 15px; 
font-family: Gravity-UltraLight;
color:white;
}

.content-ios
{
font-size: 15px; 
font-family: Gravity-UltraLight;
color:white;
}

.content-wp
{
font-size: 15px; 
font-family: Gravity-UltraLight;
color:white;
}

.loginText
{
font-size:15px;
font-family: Gravity-Book;
color:white;
margin-left:9%;
}

placeholder
{
margin-left:-5%;
}

ion-button round
{
font-family: Gravity-Book;
background-color:red;
}

.signinButton
{
display: block;
    margin: auto;
}

.button-wp-pink 
{
margin-top:10%;
margin-left:10%;
width:80%;
}

.button-ios-pink 
{
margin-top:10%;
margin-left:10%;
width:80%;
}

.button-md-pink 
{
margin-top:10%;
margin-left:10%;
width:80%;
}

.noAccount
{
margin-top:3%;
text-align:center;
font-size:12px;
font-family: Gravity-UltraLight;
}

.forgotPassword
{
margin-top:8%;
text-align:center;
font-size:12px;
font-family: Gravity-UltraLight;
}

a {
color:#53d3f9;
}

.button-md-transparent
{
    background-color: transparent;
	box-shadow: none;
	color:#53d3f9;
	height:initial;
	padding:initial;
	margin-bottom:3.5%;
	text-decoration:underline!important;
}

.button-ios-transparent
{
    background-color: transparent;
	box-shadow: none;
	color:#53d3f9;
	height:initial;
	padding:initial;
	margin-bottom:3.5%;
	text-decoration:underline!important;
}

.button-wp-transparent
{
    background-color: transparent;
	box-shadow: none;
	color:#53d3f9;
	height:initial;
	padding:initial;
	margin-bottom:3.5%;
	text-decoration:underline!important;
}
