page-result {

}

.resultTextHolder
{
width: 115%;
    margin-left: -7%;
	margin-top: -6%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.2);


}

.resultText
{
    margin: auto;
    display: table;
	font-size: x-large;
	padding-top: 2%;
}

.resultText2
{
    margin: auto;
    display: table;
	font-size: xx-large;
	font-weight:bold;
	border-bottom: 2px solid white;
}

.songPickedText
{
margin: auto;
display: table;
font-size: large;
padding-top: 1%;
border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.musicThumbnail
{
    padding-top: 3%;
    margin: auto;
    width: 35%;
}
.musicThumbnail2
{
    margin-top: -5%;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.musicThumbnailName
{
    margin: auto;
    text-align: center;
	font-weight: bold;
	}
	
	
.button-md-pink3
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 28%;
    margin-top: -3%;
    display: inline-table;
	background-color:#ff4876;
}

.button-ios-pink3
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 28%;
    margin-top: -3%;
    display: inline-table;
	background-color:#ff4876;
}

.button-wp-pink3
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 28%;
    margin-top: -3%;
    display: inline-table;
	background-color:#ff4876;
}

.button-md-pink4
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 12%;
    margin-top: -3%;
    display: inline-table;
	background-color:#ff4876;
}

.button-ios-pink4
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 12%;
    margin-top: -3%;
    display: inline-table;
	background-color:#ff4876;
}

.button-wp-pink4
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 12%;
    margin-top: -3%;
    display: inline-table;
	background-color:#ff4876;
}
	
	