<!--
  Generated template for the Result page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
     <div style="margin-right:25%;">Result</div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div class="resultTextHolder">
<div class="resultText">
You feel
</div>

<div class="resultText2">
{{dominantEmotion}}
</div>
</div>

<div class="songPickedText">
Songs picked for you
</div>


<div [innerHtml]="htmlString1" (click)="goToPlaybackPage1();"></div>
<div class="musicThumbnailName">
{{songName1}}
</div>
<img style="margin-bottom: 5%;" src="img/divider.png" alt="" >




<div [innerHtml]="htmlString2" (click)="goToPlaybackPage2();"></div>

<div class="musicThumbnailName">
{{songName2}}
</div>
<img style="margin-bottom: 5%;" src="img/divider.png" alt="" >




<div [innerHtml]="htmlString3" (click)="goToPlaybackPage3();"></div>

<div class="musicThumbnailName">
{{songName3}}
</div>
<img style="margin-bottom: 5%;" src="img/divider.png" alt="" >

<button ion-button [color]="'pink3'" (click)="takePicture();"><ion-icon style="font-size: 3.5em;" name="ios-refresh-outline"></ion-icon></button>

<button ion-button [color]="'pink4'" (click)="goToStartPage();"><ion-icon style="font-size: 2.6em;" name="ios-home-outline"></ion-icon></button>
</ion-content>
