<!--
  Generated template for the Playback page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
     <div style="margin-right:25%;">Playback</div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<iframe width="260" height="200" class="musicVideo" [src]="videoUrl"></iframe>


<div class="questionTextHolder" style="margin-top: 20%;">
<div class="questionText">
How satisfied are you with our selection ?
</div>

<div class="feedbackHolder">
<img src="img/feedback1.png" alt="" class="feedbackIcon">
<img src="img/feedback2.png" alt="" class="feedbackIcon">
<img src="img/feedback3.png" alt="" class="feedbackIcon">
<img src="img/feedback4.png" alt="" class="feedbackIcon">
<img src="img/feedback5.png" alt="" class="feedbackIcon">
<img src="img/feedback6.png" alt="" class="feedbackIcon">
</div>
</div>

<div class="questionTextHolder">
<div class="questionText">
How do you feel after listening to this song ?
</div>

<div class="feedbackHolder">
<img src="img/feedback1.png" alt="" class="feedbackIcon">
<img src="img/feedback2.png" alt="" class="feedbackIcon">
<img src="img/feedback3.png" alt="" class="feedbackIcon">
<img src="img/feedback4.png" alt="" class="feedbackIcon">
<img src="img/feedback5.png" alt="" class="feedbackIcon">
<img src="img/feedback6.png" alt="" class="feedbackIcon">
</div>
</div>

<button ion-button [color]="'pink5'" (click)="goToStartPage();"><ion-icon style="font-size: 2.6em;" name="ios-home-outline"></ion-icon></button>
</ion-content>
