page-playback {

}

.musicVideo
{
margin: auto;
margin-left: 11%;
border: none;
}


.questionTextHolder
{

width: 115%;
    margin-left: -7%;
	margin-top: 8%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.2);
}

.questionText
{
	margin: auto;
    display: table;
	padding-top: 2%;
}

.feedbackHolder
{
}

.feedbackIcon
{
	margin-top:2%;
    max-width: 15%;
	padding-left: 5%;
}

.button-md-pink5
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 42%;
    margin-top: 5%;
    display: inline-table;
	background-color:#ff4876;
}


.button-ios-pink5
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 42%;
    margin-top: 5%;
    display: inline-table;
	background-color:#ff4876;
}

.button-wp-pink5
{
width: 50px!important;
    height: 50px;
  border-radius: 100%;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-left: 42%;
    margin-top: 5%;
    display: inline-table;
	background-color:#ff4876;
}