<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar >
      <ion-title><div style="color:#424242!important;">Menu</div></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-image:none;">
    <ion-list>
	<div style="margin-left:5%;margin-top:2%;">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <img style="width:7%;margin-right:5%;" src="{{p.icon}}"/><div style="color:#424242!important;display:inline;">{{p.title}}</div>
      </button>
	  
	  
	  </div>
	  <button style="background-color:white;" (click)="testLogout()">
	  <div style="margin-left:6%;margin-top:5%;border-top-style: solid;border-width: thin;color: #424242;width: 90%;">
	  <img style="width:10%;margin-right:5%;margin-top:5%;margin-left: -68%;" src="img/log-out.png"/><div style="color:#424242!important;display:inline;">Logout</div>
	   </div>
	  </button>
	 
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
