// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content{
    background-image: url('../img/background.jpg');
	background-size: cover;
}

.toolbar-background-md {
background:none;
}

.toolbar-background-ios {
background:none;
}

.toolbar-background-wp {
background:none;
}

.toolbar-title-md{
color:white;
font-family: Gravity-UltraLight;
margin-bottom: 1%;
margin-top: 1%;
text-align: center!important;
}

.toolbar-title-ios{
color:white;
font-family: Gravity-UltraLight;
margin-bottom: 1%;
margin-top: 1%;
text-align: center!important;
}

.toolbar-title-wp{
color:white;
font-family: Gravity-UltraLight;
margin-bottom: 1%;
margin-top: 1%;
text-align: center!important;
}

@font-face {
    font-family: Gravity-UltraLight;
    src: url(../fonts/Gravity-UltraLight.otf);
	
}

@font-face {
    font-family: Gravity-Book;
    src: url(../fonts/Gravity-Book.otf);
	
}

ion-icon{
color:white;
}

.item-inner{
border-bottom:none!important;
}






