<!--
  Generated template for the Start page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
     <div style="margin-right:25%;">Home</div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<img src="img/LOGOwhite.png" alt="" class="logoHome">

<button ion-button [color]="'pink2'" (click)="takePicture();">Discover</button>

<div class="textButtonStart">
CLICK HERE TO START.
</div>

</ion-content>
