page-start {

}

.button-md-pink2
{
  height: 25%;
  width: 43%;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	font-size:1.8rem;
	margin-left: 28%;
    margin-top: 25%;
    display: inline-table;
	font-family: Gravity-Book;
}

.button-ios-pink2
{
  height: 25%;
  width: 43%;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	font-size:1.8rem;
	margin-left: 28%;
    margin-top: 25%;
    display: inline-table;
	font-family: Gravity-Book;
}

.button-wp-pink2
{
  height: 25%;
  width: 43%;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	font-size:1.8rem;
	margin-left: 28%;
    margin-top: 25%;
    display: inline-table;
	font-family: Gravity-Book;
}

.textButtonStart
{
margin: auto;
    display: table;
    margin-top: 5%;

}