<!--
  Generated template for the Registration2 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><div style="margin-right:20%;">Sign Up</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<img src="img/LOGOwhite.png" alt="" class="logoHome">

<div style="margin-top:5%;">GENRES PREFERRED: </div>

 <ion-item style="width:90%; margin-top:3%; margin-left:2%;">
      <ion-label>Pop</ion-label>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-item>
	
	 <ion-item style="width:90%; margin-top:1%; margin-left:2%;">
      <ion-label>Rock</ion-label>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-item>
	
	 <ion-item style="width:90%; margin-top:1%;; margin-left:2%;">
      <ion-label>Electronic</ion-label>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-item>
	
	 <ion-item style="width:90%; margin-top:1%; margin-left:2%;">
      <ion-label>Classical</ion-label>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-item>
	
	 <ion-item style="width:90%; margin-top:1%; margin-left:2%;">
      <ion-label>Ambient</ion-label>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-item>
	
	 <ion-item style="width:90%; margin-top:1%; margin-left:2%;">
      <ion-label>Hip-Hop</ion-label>
      <ion-checkbox color="secondary"></ion-checkbox>
    </ion-item>
	
	<button ion-button round (click)="register()" [color]="'pink'">Sign Up</button>
	
</ion-content>
